<footer class="site-footer">

	<h1 id="donate">Donate</h1>

	<div class="row">
		<div class="grid grid--third">
			<div class="content">
				<button
				    class="snipcart-add-item btn"
				    data-item-id="donate_10"
				    data-item-name="Donation of $10"
				    data-item-price="10.00"
				    data-item-url="/">
				        Add a $10 donation to your shopping cart
				</button>
			</div>
		</div><!-- 
	inline-block hack
	--><div class="grid grid--third">
			<div class="content">
				<a class="btn" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=AUFW3UC6W79DQ">Paypal</a>
			</div>
		</div><!--
	inline-block hack	
	--><div class="grid grid--third">
			<div class="content">
				<span class="not-a-btn">Venmo: kamma.mountain@gmail.com</span>
			</div>
		</div>
		<div class="grid grid--full center">
			<p>Donations by check can be made to: Kamma Mountain Ltd. and mailed to PO Box 20043, Brooklyn, NY 11202</p>
			<p>Your donation is tax deductible.</p>
		</div>	
	</div>

</footer>
