<!DOCTYPE html>
<html lang="en">

  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">

  <title>Kamma Mtn.</title>
  <meta name="description" content="Kamma Mountain is a 501(c)(3) non-profit publishing and producing Buddhist books for free distribution.">

  <link href="https://fonts.googleapis.com/css?family=Inconsolata|Roboto" rel="stylesheet">  <link rel="stylesheet" href="/css/style.css">
  <link rel="canonical" href="http://localhost:4000/">
  <link rel="alternate" type="application/rss+xml" title="Kamma Mtn." href="/feed.xml">
  
  
</head>


  <body>

{% include header.html %}
    
{{ content }}

{% include footer.html %}

  </body>

</html>
