<!DOCTYPE html>
<html lang="en">

  <head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111642003-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-111642003-1');
  </script>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Kamma Mtn.</title>
  <meta name="description" content="Kamma Mountain is a 501(c)(3) non-profit publishing and producing Buddhist books for free distribution. Our used books section features loving used dhamma titles for sale. The proceeds support our publishing efforts. Please contact us if you'd like to donate books.">
  
  <meta name="keywords" content="kamma mountain, karma, used books, buddhism, buddhist, dharma, dhamma, non-profit, free, free distribution, theravada, mahayana, ebt, early buddhist texts, meditation, mindfulness, bookstore, store, shop">

  <link href="https://fonts.googleapis.com/css?family=Inconsolata|Roboto" rel="stylesheet">  <link rel="stylesheet" href="/css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

<script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" id="snipcart" data-api-key="YWQ1NWJkZTEtMjk1MC00NjQ3LWFkNGEtNmJjOTEzZWJkMjk5NjM2NDM5NDM5NjQzNDE3ODUy"></script>

<link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" type="text/css" rel="stylesheet" />
  
  
</head>


  <body>

{% include header.html %}
    
{{ content }}

{% include footer.html %}

  </body>

</html>
